@import 'compass';

$laranjaInicio: #ffda63;
$laranjaFim: #ef4338;

body {
  background: $laranjaInicio; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient($laranjaInicio, $laranjaFim); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($laranjaInicio, $laranjaFim); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($laranjaInicio, $laranjaFim); /* For Firefox 3.6 to 15 */
  background: linear-gradient($laranjaInicio, $laranjaFim); /* Standard syntax */

}

.wrapper-body {
  color: white;
  margin: 0;
  padding: 10px;

  hr {
    width: 99%;
    border: 1px solid darken($laranjaFim, 20%);
  }

  small {
    margin-left: 10px;
  }

}