body {
  margin: 0;

}

.wrapper-body {
  background: #ff9520;
  color: white;
  margin: 0;
  padding: 10px;

  hr {
    width: 95%;
    border: 1px solid rgba(0, 0, 0, 0.44);
  }

  small {
    margin-left: 10px;
  }

}