/* line 6, agenda.scss */
body {
  background: #ffda63;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#ffda63, #ef4338);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#ffda63, #ef4338);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#ffda63, #ef4338);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#ffda63, #ef4338);
  /* Standard syntax */
}

/* line 15, agenda.scss */
.wrapper-body {
  color: white;
  margin: 0;
  padding: 10px;
}
/* line 20, agenda.scss */
.wrapper-body hr {
  width: 99%;
  border: 1px solid #b3180e;
}
/* line 25, agenda.scss */
.wrapper-body small {
  margin-left: 10px;
}
