/* line 6, landing-page.scss */
body,
html {
  width: 100%;
  height: 100%;
}

/* line 12, landing-page.scss */
body {
  background-color: #4cb86a;
}

/* line 16, landing-page.scss */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

/* line 30, landing-page.scss */
#mycarousel .header-carousel {
  z-index: 999;
  position: relative;
}
/* line 34, landing-page.scss */
#mycarousel .header-carousel img {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
  display: block;
  width: 350px;
  height: auto;
}
/* line 47, landing-page.scss */
#mycarousel .carousel-caption {
  background-color: rgba(255, 122, 34, 0.6);
  padding: 10px;
}
/* line 52, landing-page.scss */
#mycarousel .carousel-caption h3 {
  display: inline-block;
  padding: 10px;
  background: #B9121B;
}
/* line 60, landing-page.scss */
#mycarousel .carousel-caption .p {
  text-align: center;
  padding-top: 40px;
  font-size: 13px;
}
/* line 67, landing-page.scss */
#mycarousel .carousel-control {
  z-index: 9999;
  background: transparent;
  height: 10%;
  width: 10%;
  top: 40%;
}
/* line 74, landing-page.scss */
#mycarousel .carousel-control.right {
  transform: translate(0, -10%);
}
/* line 78, landing-page.scss */
#mycarousel .carousel-control.left {
  transform: translate(-10%);
}
/* line 82, landing-page.scss */
#mycarousel .carousel-control.left, #mycarousel .carousel-control.right {
  transition: 0.5s ease-in-out;
}
/* line 86, landing-page.scss */
#mycarousel .carousel-control.left:hover {
  transform: translate(10%, 0);
}
/* line 90, landing-page.scss */
#mycarousel .carousel-control.right:hover {
  transform: translate(-20%, -10%);
}
/* line 94, landing-page.scss */
#mycarousel .carousel-control.left:hover, #mycarousel .carousel-control.right:hover {
  background-color: rgba(255, 122, 34, 0.56);
  transition: 0.5s ease-in-out;
}
/* line 101, landing-page.scss */
#mycarousel .full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 768px) {
  /* line 108, landing-page.scss */
  #mycarousel .carousel-control .glyphicon-chevron-left, #mycarousel .carousel-control .glyphicon-chevron-right {
    top: 30%;
  }
}

/* line 115, landing-page.scss */
.wrapper-navigation {
  margin-top: 35px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #34834a;
  border-bottom: 1px solid #34834a;
  background-color: rgba(43, 128, 45, 0.24);
}
/* line 125, landing-page.scss */
.wrapper-navigation ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  padding: 5px;
}
/* line 135, landing-page.scss */
.wrapper-navigation li {
  margin: 0;
}
/* line 138, landing-page.scss */
.wrapper-navigation li i {
  margin-right: 10px;
  color: white;
}
/* line 143, landing-page.scss */
.wrapper-navigation li a {
  background-color: #ffa86f;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 0;
  color: white;
}
/* line 150, landing-page.scss */
.wrapper-navigation li a:hover {
  background-color: #ff893c;
  border-color: #ff7a22;
}
/* line 156, landing-page.scss */
.wrapper-navigation li.active > a, .wrapper-navigation li.active > a:focus {
  background-color: #ff7a22;
  border-color: #bb4a00;
}
/* line 160, landing-page.scss */
.wrapper-navigation li.active > a:hover, .wrapper-navigation li.active > a:focus:hover {
  background-color: #ff6b09;
  border-color: #883600;
}
@media only screen and (max-width: 768px) {
  /* line 168, landing-page.scss */
  .wrapper-navigation ul {
    width: 80%;
  }
  /* line 173, landing-page.scss */
  .wrapper-navigation li a {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
  }
  /* line 179, landing-page.scss */
  .wrapper-navigation li i {
    margin: 10px;
  }
}

/* line 188, landing-page.scss */
.bg-custom {
  background: #44ab5b;
  padding: 25px;
}

/* line 193, landing-page.scss */
.sugestao-intro {
  margin-top: 20px;
}
/* line 196, landing-page.scss */
.sugestao-intro .sugestao-quantidade {
  margin-top: 20px;
  color: #ff6b09;
}
/* line 201, landing-page.scss */
.sugestao-intro .sugestao-titulo {
  margin-top: 40px;
  margin-bottom: 40px;
  color: white;
}
/* line 207, landing-page.scss */
.sugestao-intro .btn-enviar {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #ff7a22;
  color: white;
  border: 2px solid #ee5f00;
  padding-right: 20px;
  padding-left: 20px;
}
/* line 216, landing-page.scss */
.sugestao-intro .btn-enviar:hover {
  background-color: #ff6b09;
  border: 2px solid #42a85f;
  color: #e6e6e6;
}

/* line 225, landing-page.scss */
.propostas, .agenda {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
/* line 231, landing-page.scss */
.propostas ul li, .agenda ul li {
  color: #f2dede;
  margin-top: 10px;
}
/* line 238, landing-page.scss */
.propostas h2, .agenda h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #4e4e4e;
}
/* line 244, landing-page.scss */
.propostas h3, .agenda h3 {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #4e4e4e;
}

/* line 251, landing-page.scss */
.footer {
  color: white;
  margin-top: 40px;
  background-color: rgba(232, 232, 232, 0.2);
  height: 30px;
  padding-top: 5px;
  bottom: 0;
}
/* line 260, landing-page.scss */
.footer p {
  margin: 0;
  position: absolute;
}
