@import 'compass';

$verdeBase: #34834a;
$laranjaBase: #ff7a22;

body,
html {
  width: 100%;
  height: 100%;
}

body {
  background-color: lighten($verdeBase, 15%);
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

#mycarousel {


  .header-carousel {
    z-index: 999;
    position: relative;

    img {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, 0);
      display: block;
      width: 350px;
      height: auto;
    }
  }

  .carousel-caption {

    background-color: rgba(255, 122, 34, 0.6);
    padding: 10px;

    h3 {
      display: inline-block;
      padding: 10px;
      background: #B9121B;
      //border-top-left-radius: 10px;
      //border-top-right-radius: 10px;
    }

    .p {
      text-align: center;
      padding-top: 40px;
      font-size: 13px;
    }
  }

  .carousel-control {
    z-index: 9999;
    background: transparent;
    height: 10%;
    width: 10%;
    top: 40%;

    &.right {
      transform: translate(0, -10%);
    }

    &.left {
      transform: translate(-10%);
    }

    &.left, &.right {
      transition: 0.5s ease-in-out;
    }

    &.left:hover {
      transform: translate(10%, 0);
    }

    &.right:hover {
      transform: translate(-20%, -10%);
    }

    &.left:hover, &.right:hover {
      background-color: rgba(255, 122, 34, 0.56);
      transition: 0.5s ease-in-out;
    }

  }

  .full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  @media only screen and (max-width: 768px) {
    .carousel-control .glyphicon-chevron-left,.carousel-control .glyphicon-chevron-right {
      top: 30%;
    }
  }

}

.wrapper-navigation {
  margin-top: 35px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid $verdeBase;
  border-bottom: 1px solid $verdeBase;
  background-color: rgba(43, 128, 45, 0.24);

  ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;

    padding: 5px;
  }

  li {
    margin: 0;

    i {
      margin-right: 10px;
      color: white;
    }

    a {
      background-color: lighten($laranjaBase, 15%);
      padding-right: 40px;
      padding-left: 40px;
      border-radius: 0;
      color: white;

      &:hover {
        background-color: lighten($laranjaBase, 5%);
        border-color: $laranjaBase;
      }
    }

    &.active > a, &.active > a:focus {
      background-color: $laranjaBase;
      border-color: darken($laranjaBase, 20%);

      &:hover {
        background-color: darken($laranjaBase, 5%);
        border-color: darken($laranjaBase, 30%);
      }
    }
  }

  @media only screen and (max-width: 768px) {
    ul {
      width: 80%;
    }

    li {
      a {
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 5px;
      }

      i {
        margin: 10px;
      }

    }

  }
}

.bg-custom {
  background: #44ab5b;
  padding: 25px;
}

.sugestao-intro {
  margin-top: 20px;

  .sugestao-quantidade {
    margin-top: 20px;
    color: darken($laranjaBase, 5%);
  }

  .sugestao-titulo {
    margin-top: 40px;
    margin-bottom: 40px;
    color: white;
  }

  .btn-enviar {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: $laranjaBase;
    color: white;
    border: 2px solid darken($laranjaBase, 10%);
    padding-right: 20px;
    padding-left: 20px;

    &:hover {
      background-color: darken($laranjaBase, 5%);
      border: 2px solid lighten($verdeBase, 10%);
      color: darken(white, 10%);
    }
  }

}

.propostas, .agenda {
  font-family: 'Roboto', sans-serif;

  ul {

    li {
      color: #4e4e4e;
      margin-top: 10px;
    }

  }

  h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
  }

  h3 {
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
  }
}

.footer {
  color: white;
  margin-top: 40px;
  background-color: rgba(232, 232, 232, 0.2);
  //background: #44ab5b;
  height: 30px;
  padding-top: 5px;
  bottom: 0;

  p {
    margin: 0;
    position: absolute;
  }
}