@import 'compass';

$verdeBase: #34834a;
$laranjaBase: #ff7a22;

body, html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #ffe4c1;
  @include filter-gradient(#ffe4c1, #c65200, vertical);
  @include background-image(linear-gradient(top, #ffe4c1 0%, #fb9d23 60%, #fb9d23 60%, #c65200 100%));
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

body::after {
  top: 0;
  left: 0;
  z-index: -1;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.barra-topo {
  width: 100%;
  height: 40px;
  padding-top: 5px;
  background-color: $verdeBase;
  color: white;

  p {
    font-size: 20px;
  }
}

.header {
  margin-top: 25px;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: auto;
  }
}

.wrapper-nav {
  margin: 0;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;

  li > a {
    color: white;
    border-radius: 5px;
    border-color: lighten(rgba($verdeBase, .2), 5%);
    background-color: rgba($verdeBase, .4);

    i {
      margin-right: 5px;
    }

  }

  li.active > a {
    background-color: lighten($verdeBase, 10%);
    border-color: lighten($verdeBase, 5%);
    color: white;
    opacity: 1;
  }

  li > a:hover, li.active > a:hover {
    border-color: lighten($verdeBase, 5%);
    background-color: darken($verdeBase, 1%);
    color: white;
    cursor: pointer;
  }

  .nav-tabs {
    border-bottom: 0;
  }

  hr {
    margin-top: 10px;
    width: 90%;
  }
}

.sugestao-intro {
  margin-top: 20px;

  .sugestao-quantidade {
    margin-top: 20px;
    color: darken($laranjaBase, 20%);
  }

  .sugestao-form {
    margin-top: 40px;
    color: #007615;
  }

  .enviar {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: $verdeBase;
    color: white;
    border: 2px solid #a3d39c;
    padding-right: 20px;
    padding-left: 20px;
  }

}